## Diseño de la pruba de modelo

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import feather
train = feather.read_dataframe('train.feather')

In [50]:
test =  feather.read_dataframe('test.feather').astype('int32')

In [51]:
test.set_index('VisitNumber', inplace=True)

In [52]:
test.head()

,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,5,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
X = train.iloc[:,2:]
y = train['TripType']

In [7]:
X_train.head()

,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
y_train[]

In [20]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2).fit(X_train)
X_pca = pca.transform(X_train)

## Modelo RandomForest

In [8]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
y_pred = model.predict(X_train)

In [80]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.6480130442962561

In [9]:
y_pred_proba = model.predict_proba(X_train)

In [11]:
y_pred_proba.shape

(95674, 38)

### Test

In [39]:
test.describe()

,Weekday,1-HR PHOTO,ACCESSORIES,AUTOMOTIVE,BAKERY,BATH AND SHOWER,BEAUTY,BEDDING,BOOKS AND MAGAZINES,BOYS WEAR,...,SEAFOOD,SEASONAL,SERVICE DELI,SHEER HOSIERY,SHOES,SLEEPWEAR/FOUNDATIONS,SPORTING GOODS,SWIMWEAR/OUTERWEAR,TOYS,WIRELESS
count,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,...,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000,95496.000000
mean,4.299552,0.004817,0.013927,0.057940,0.086140,0.051604,0.160918,0.023875,0.009498,0.039583,...,0.025593,0.000314,0.111816,0.006461,0.060976,0.024231,0.053206,0.006419,0.065354,0.016482
std,2.031556,0.132075,0.188398,0.439245,0.418327,0.477590,0.731683,0.266014,0.127418,0.424206,...,0.228212,0.032999,0.495987,0.163058,0.372632,0.274278,0.422056,0.140648,0.486319,0.196094
min,1.000000,-3.000000,-10.000000,-9.000000,-1.000000,-9.000000,-20.000000,-4.000000,-2.000000,-11.000000,...,-3.000000,-6.000000,-4.000000,-9.000000,-5.000000,-7.000000,-8.000000,-4.000000,-6.000000,-2.000000
25%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,21.000000,17.000000,18.000000,15.000000,33.000000,41.000000,13.000000,9.000000,29.000000,...,15.000000,5.000000,15.000000,20.000000,23.000000,18.000000,16.000000,8.000000,33.000000,20.000000

In [53]:
test.shape

(95674, 68)

In [54]:
y_proba = model.predict_proba(test)

In [55]:
y_proba.shape

(95674, 38)

In [56]:
test.shape

(95674, 68)

In [57]:
model.classes_

array(['12', '14', '15', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '5',
       '6', '7', '8', '9', '999'], dtype=object)

In [58]:
submit = pd.DataFrame(y_proba, columns = model.classes_, index = test.index)

In [59]:
submit = submit[['3','4','5','6', '7', '8', '9','12', '14', '15', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35','36', '37', '38', '39', '40', '41', '42', '43', '44', '999']]

In [60]:
submit.columns = ['TripType_3','TripType_4','TripType_5','TripType_6','TripType_7','TripType_8','TripType_9','TripType_12',
                  'TripType_14','TripType_15','TripType_18','TripType_19','TripType_20','TripType_21','TripType_22',
                  'TripType_23','TripType_24','TripType_25','TripType_26','TripType_27','TripType_28','TripType_29',
                  'TripType_30','TripType_31','TripType_32','TripType_33','TripType_34','TripType_35','TripType_36',
                  'TripType_37','TripType_38','TripType_39','TripType_40','TripType_41','TripType_42','TripType_43',
                  'TripType_44','TripType_999']

In [61]:
submit.head()

,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,TripType_15,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.00,0.188245,0.020000,0.0,0.0,0.0,...,0.0,0.0,0.02,0.06,0.0,0.0,0.0,0.01,0.0,0.311755
2,0.0,0.0,0.0,0.0,0.01,0.184773,0.015227,0.0,0.0,0.0,...,0.0,0.0,0.01,0.00,0.0,0.0,0.0,0.00,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,1.000000
4,0.0,0.0,0.0,0.0,0.00,0.000000,0.880702,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.066777
6,0.0,0.0,0.0,0.0,0.00,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,1.000000

In [62]:
submit.to_csv('submission.csv')

In [35]:
submit.shape

(95496, 38)

## Modelo XBoost

In [64]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(X_train, y_train)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [75]:
y_pred = model.predict(X_train)

In [79]:
y_pred

array(['999', '9', '26', ..., '39', '40', '8'], dtype=object)

In [83]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.6480130442962561

### Test

In [67]:
y_proba = model.predict_proba(test)

In [68]:
submit = pd.DataFrame(y_proba, columns = model.classes_, index = test.index)

In [69]:
submit = submit[['3','4','5','6', '7', '8', '9','12', '14', '15', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35','36', '37', '38', '39', '40', '41', '42', '43', '44', '999']]

In [70]:
submit.columns = ['TripType_3','TripType_4','TripType_5','TripType_6','TripType_7','TripType_8','TripType_9','TripType_12',
                  'TripType_14','TripType_15','TripType_18','TripType_19','TripType_20','TripType_21','TripType_22',
                  'TripType_23','TripType_24','TripType_25','TripType_26','TripType_27','TripType_28','TripType_29',
                  'TripType_30','TripType_31','TripType_32','TripType_33','TripType_34','TripType_35','TripType_36',
                  'TripType_37','TripType_38','TripType_39','TripType_40','TripType_41','TripType_42','TripType_43',
                  'TripType_44','TripType_999']

In [71]:
submit.to_csv('submission.csv')

In [72]:
submit.shape

(95674, 38)

In [73]:
submit.head()

,TripType_3,TripType_4,TripType_5,TripType_6,TripType_7,TripType_8,TripType_9,TripType_12,TripType_14,TripType_15,...,TripType_36,TripType_37,TripType_38,TripType_39,TripType_40,TripType_41,TripType_42,TripType_43,TripType_44,TripType_999
VisitNumber,,,,,,,,,,,,,,,,,,,,,
1,0.000550,0.000029,0.001094,0.000556,0.025435,0.115354,0.063911,0.000684,0.000005,0.002936,...,0.001431,0.001347,0.285447,0.094056,0.008204,0.015074,0.019790,0.009236,0.006641,0.080121
2,0.026397,0.000069,0.002020,0.002530,0.028153,0.437570,0.034845,0.001203,0.000010,0.056049,...,0.003211,0.002395,0.013932,0.090596,0.010718,0.002934,0.017655,0.011100,0.007996,0.062215
3,0.001515,0.000062,0.001717,0.001665,0.036425,0.376079,0.315205,0.000930,0.000008,0.004185,...,0.002327,0.001721,0.003658,0.019939,0.005847,0.002270,0.010351,0.004751,0.004850,0.181881
4,0.001691,0.000057,0.001916,0.001136,0.040660,0.242839,0.351853,0.001039,0.000008,0.004958,...,0.002597,0.001921,0.004084,0.022258,0.006527,0.002533,0.030948,0.019849,0.008060,0.203028
6,0.001515,0.000062,0.001717,0.001665,0.036425,0.376079,0.315205,0.000930,0.000008,0.004185,...,0.002327,0.001721,0.003658,0.019939,0.005847,0.002270,0.010351,0.004751,0.004850,0.181881

In [84]:
model.feature_importances_

array([2.01087637e-03, 1.08648197e-03, 1.05412239e-03, 9.11654858e-03,
       1.76519581e-03, 3.94837079e-03, 1.41540860e-02, 6.79767199e-03,
       6.54510468e-04, 5.69499386e-03, 3.99021158e-03, 6.89525453e-04,
       6.50296044e-03, 6.91477848e-03, 6.29491680e-03, 2.93086732e-04,
       1.07569383e-02, 4.08115117e-02, 7.83938200e-02, 1.05363682e-02,
       3.11835237e-03, 6.43911467e-02, 1.65327178e-02, 3.20271882e-03,
       5.59740232e-03, 9.71919799e-02, 6.24030114e-03, 6.00010833e-06,
       6.54688003e-03, 1.12611647e-02, 2.52766681e-03, 2.32684030e-02,
       1.14727734e-02, 8.37471525e-03, 4.45155945e-03, 1.68719151e-02,
       3.27687098e-03, 3.05010702e-04, 2.20197717e-02, 1.54645270e-03,
       5.20858824e-03, 4.90290916e-03, 1.30814389e-02, 1.97734958e-02,
       3.57315927e-02, 4.86810019e-03, 5.52780545e-03, 1.24427462e-03,
       4.53695783e-05, 1.51835396e-03, 5.33521938e-02, 7.03098339e-03,
       3.54884044e-02, 3.24038689e-02, 1.56793390e-01, 1.06722983e-03,
       3.63876790e-03, 3.78017604e-02, 1.38890336e-03, 3.67529691e-05,
       2.18460615e-02, 2.79062717e-04, 8.97145411e-03, 3.72830660e-03,
       7.44526428e-03, 2.68589910e-03, 7.72674889e-03, 6.74223985e-03])

In [85]:
model.

array(['12', '14', '15', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '5',
       '6', '7', '8', '9', '999'], dtype=object)

## Backward selection

In [104]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

In [105]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.5)

In [106]:
model = GradientBoostingClassifier(n_estimators = 10)
rfe = RFE(model, 20)
fit = rfe.fit(X_train, y_train)
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

Num Features: 20
Selected Features: [False False False False False False  True False False False False False
 False False False False  True  True  True  True False  True  True False
 False  True False False False  True False  True False False False  True
 False False  True False False False  True False  True False False False
 False False  True False  True  True False False False  True False False
  True False False False False False False  True]
Feature Ranking: [41 30 34  2 42 28  1  4 38  7 27 39 25 10 31 47  1  1  1  1 23  1  1 21
 18  1 14 49 17  1 22  1  6 24 15  1 26 43  1 20 16 11  1 29  1 13  5 36
 48 32  1 12  1  1 19 46 33  1 37 45  1 40  3 35  9 44  8  1]

In [107]:
X_train.columns[fit.support_]

Index(['BEAUTY', 'COOK AND DINE', 'DAIRY', 'DSD GROCERY', 'ELECTRONICS',
       'FINANCIAL SERVICES', 'FROZEN FOODS', 'GROCERY DRY GOODS',
       'HOME MANAGEMENT', 'HOUSEHOLD CHEMICALS/SUPP',
       'INFANT CONSUMABLE HARDLINES', 'LADIESWEAR', 'MEAT - FRESH & FROZEN',
       'MENS WEAR', 'PERSONAL CARE', 'PHARMACY OTC', 'PHARMACY RX', 'PRODUCE',
       'SERVICE DELI', 'WIRELESS'],
      dtype='object')

## Grid Search

In [ ]:
from sklearn.model_selection import GridSearchCV
model = GradientBoostingClassifier()
GB= {'n_estimators': [1,10,100,1000,10000],
       'learning_rate' : [0.001,0.01,0.05,0.1,0.5],
       'subsample' : [0.1,0.5,1.0],
       'max_depth': [1,3,5,10,20,50,100]}

In [109]:
grid = GridSearchCV(model,GB)

In [110]:
grid.fit(X_train,y_train)

C:\Users\bruno\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)

KeyboardInterrupt: